body {
    background-color: purple;
}
h1 {
    background-color: seagreen;
    font-size: 30px;
}
p { color: snow;}
.fancy{ text-transform: uppercase;
color: blue;
font-size: 2em;
border: 1px solid white ;
padding: 50px 10px 20px 100px;
padding-bottom: 20px;
margin: 100px;
background-color: yellow;
text-align: center;
}
.dave {width: 100px;
line-height: 1.4em;
font-weight: bold;
}
#superfancy { font-family: 'Dancing Script', cursive;
    font-size: 20px;

}
