body{ 
    background-color: pink;
}
h1{text-align: center;}
main{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.frogcolor{
    background-color: green;
}
.jumping{ background-color: yellowgreen;
grid-row: 2;
grid-column:2/4;

}

.jumping div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.eating{background-color: tomato;}