body{
    background-color: #fcfbfb; 
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    
}
#card{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr 2fr;
}
.image{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}
.post{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: blue;
    padding: 25px 50px;
    margin-top: 200px;
    
    justify-content: space-around;
    align-items: center;
    color:white;
}