body {
    background-color: #fca6c9;
}
h1 { font-size: 30px;
text-align: center;
color:white
}
h1:hover{
    color:black
}
p{ color: white;
text-align: center;}

.fancy2{
    color: black;
    text-align: center;}


    .img {
        width: 200px;
         display: inline-block ;
        vertical-align: middle;
        margin: 150px;
    }


