body {
    background-color: gray; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 10% 50%;
    grid-template-rows: auto;
    text-align:left;
    position:relative;
    background-color:rgba(0,0,0,.9);

}
.icon-bar {
  grid-column: 2/3;
  width: 100%; /* Full-width */
  background-color:rgba(0,0,0,.8); /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color:wheat; /* Add a hover color */
}

.active {
  background-color: #04AA6D; /* Add an active/current color */
}
nav a {
  margin-top: 15px;
  padding: 14px 16px;
  text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-color:burlywood;
}
nav{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.logo{
  margin: 10px;
    width: 100px;
    /* height: 80px; */
}
.logo-img{
    width: 50px;
    height: auto;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: #f2f2f2;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color:#d9c2a3 ;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name:fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#restuesnt,.food_img,.third{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 400px;

}
#first_img,.second_img, .third_img{
  object-fit: cover;
  margin-top: 20px;
  border: 10px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f3646;
  width: 100%;
  align-self: center;
  
}

#first_img{
 margin-left: 20px;
}


#restuesnt h1, #restuesnt p,.third h2, .third p{
  grid-column: 2/4;
  grid-row: 1/2;
  margin-left: 0%;
}
#restuesnt h1{
  font-family: 'Hurricane', cursive; 
}
#restuesnt p, .third p{
  align-self: flex-end;
  box-sizing:content-box;
  box-shadow: 5px 5px 10px #6f3646;
  background-color: #d9c2a3;
 width: 80%;

 text-align: center;
 margin-left: 10%;
 margin-bottom: 75px;
  
}
.food_img h3, .food_img p{
  grid-column: 1/3;
  grid-row: 1/2;

}
.food_img h3{
  text-align:center ;
}
.food_img p{
  align-self: flex-end;
  padding: 35px;
}
.join{
  grid-column: 2/3;
  color:white;
  background-color:black;
  padding: 10px;
  width: 30%;
  align-self: flex-end;
  margin-left: 88%;
  grid-row: 1/2;
  margin-bottom: 20px;
}
.join:hover{
  background-color:burlywood;
  color: black;
}
.join1{
  grid-column: 1/2;
  grid-row: 1/2;
  color:white;
  background-color:black;
  padding: 10px;
  width: 30%;
  align-self: flex-end;
  margin-left: 60%;
}
.join1:hover{
  background-color:burlywood;
  color: black;
}
.join2{
  grid-column: 2/3;
  grid-row: 1/2;
  color:white;
  background-color:black;
  padding: 10px;
  width: 30%;
  align-self: flex-end;
  text-align: center;
  margin-left: 76%;
  margin-bottom: 30px;
}
.join2:hover{
  background-color:burlywood;
  color: black;
}
.second_img{
  height: 400px;
  margin-left: -17%;
  }
.second p{
margin-left: 50px;
width: 70%;
box-sizing: content-box;
box-shadow: 5px 5px 10px #6f3646;
background-color: #d9c2a3;
}
.second h2{
  grid-column: 1/3;
  font-family: 'Hurricane', cursive;
}
.food_img h2{
  height: 100px;
}
.food_img{
  height: 400px;
}
.third_img{
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 20px;
}
.third p{
  width: 80%;
  align-self: flex-end;
  padding: 40px;
}
.third h2{
  grid-column: 2/4;
  text-align: center;
  margin-left: -7%;
}
#social{
  width: 290px;
display: flex;
justify-content: space-between;
}
.second-page{
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 1fr ; */
  padding:40px;
  margin: 20px;
}
.food{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 1fr; */
}
.hero-3{
  grid-row: 1/2;
  grid-column: 1/2;
  height: 500px;
  width: 600px;
  object-fit: cover;
  margin-bottom: -500px;
  border: 10px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f3646;
}
.hero-3 img{
  width: auto;
  height: auto;

}
.food h1{
  grid-column: 2/3;
  grid-row: 1/2;
text-align: center;
  font-family: 'Hurricane', cursive;
}
.food-msg{
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 50px;
 
  text-align: center;
  font-family: 'Playfair Display', serif;
 
  
}
.yoga{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 1fr;  */
}
.hero-2{
  grid-row: 1/2;
  grid-column: 1/2;
  height: 519px;
  width: 600px;
  object-fit: cover;
  margin-top: 34px;
  margin-bottom: 20px;
  border: 10px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f3646;
}
.hero-2 img{
  width: auto;
  height: auto;

}
.yoga-msg{
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 50px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  align-self:flex-end;
}
.yoga h1, h2{
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: 'Hurricane', cursive;
}
.yoga h2{
  margin-top: 85px;
 
}
.lag{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 1fr;  */
}
.hero-1{
  grid-row: 1/3;
  grid-column: 1/2;
  height: 497px;
  width: 600px;
  object-fit: cover;
  margin-top: 69px;
  border: 10px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f3646;

}
.hero-3:hover,.hero-2:hover,.hero-1:hover{
  opacity: .6;
  transform: scale(1.1);
}
.hero-1 img{
  width: 100%;
  height: 300px;

}
.lag h1{
  margin: 0px;
  font-family: 'Hurricane', cursive;
  grid-column: 2;
  text-align: center;
}
.lag-msg{
  grid-column: 2/3;
  grid-row: 2;
  padding: 50px;
  margin: 0px;
  
  text-align: center;
  font-family: 'Playfair Display', serif;
}
.btn {
  
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}
.info {
  grid-column: 2/3;
  width: 50%;
  margin-left: 180px;
  background-color:black;
  font-family: 'Playfair Display', serif;
} 
.info:hover{
  background-color:burlywood;
  color: black;
}
.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  /* margin: 0 auto; Center it */
  margin-left: 50px;
 
}
.container .container_img{
   width: 100%;
  height: 500px;
  margin-left: 50px;

}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 110%; /* Full width */
  padding: 30px; /* Some padding */
  height: 500px;
}

.container2 {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
  margin-left: 50px;
  margin-top: 30px;
 
}
.container2 .container2_img{
   width: 100%;
  height: 500px;
  margin-left: 50px;
  margin-top: 21px;

}

.container2 .content2 {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 110%; /* Full width */

}

.container3 {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
  margin-left: 50px;
 
}
.container3 .container3_img{
   width: 100%;
  height: 500px;
  margin-left: 50px;
  margin-top: 60px;

}

.container3 .content3 {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 110%; /* Full width */
  padding: 30px; /* Some padding */
  height: 500px;
}



/* Blue */
* {
  box-sizing: border-box;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  height: 17%;
  margin-bottom: 15px;
  font-family: 'Hurricane', cursive;
  
}
form{
  max-width: 382px;
/* margin: auto; */
padding-left: 30px;
}
.icon {
  padding: 10px;
  background: black;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  height: 108px;
  padding: 15px;
  outline: none;
  
}

.input-field:focus {
  border: 2px solid black;
}

/* Set a style for the submit button */
.btn2 {
  background-color:black;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 21px;
  /* height: 17%; */
  opacity: 0.9;
  font-family: 'Hurricane', cursive;
}

.btn:hover {
  opacity: 1;
}
/* .contact{
  display: grid;
  grid-template-columns: 1fr 1fr ;
} */
.bg-img {
  /* The image used */
  background-image: url("s-nemot.jpeg");

  min-height: 287px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 1472px;
}
.login {
  position: absolute;
  right: 100px;
  margin: 20px;
  /* max-width: 300px; */
  padding: 16px;
  background-color: white;
  width: 407px;
  height: 73%;
  font-family: 'Hurricane', cursive;
}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container_c {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Hurricane', cursive;

}

* {
  box-sizing: border-box;}
ul {list-style-type: none;}
.month {
  padding: 70px 25px;
  width: 100%;
  background: black;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: black;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
h1{
  text-align: center;
  font-family: 'Hurricane', cursive;
}
.con{
max-height: 400px;
object-fit: cover;
/* height: 500px; */
/* overflow: hidden; */
width: 100%;
margin-top: 20px;
margin-bottom: 20px;
border: 10px solid #d9c2a3;
transition: transform .5s;
box-shadow: 5px 5px 10px #6f3646;

}

footer{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(0,0,0,.9);
    color: wheat;
}

footer .logo{
  margin-left: -114px;
}
/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align:left;
  text-decoration: none;
  border-radius: 80%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background:gray;
  color: white;
}

.fa-twitter {
  background:gray;
  color: white;
}

.fa-google {
  background: gray;
  color: white;
}

.fa-linkedin {
  background: gray;
  color: white;
}

.fa-youtube {
  background: gray;
  color: white;
}

.fa-instagram {
  background: gray;
  color: white;
}
 */
